@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 22% 95%;
    --foreground: 224 71% 4%;
    --card: 210 22% 99%;
    --card-foreground: 224 71% 4%;
    --popover: 210 22% 99%;
    --popover-foreground: 224 71% 4%;
    --primary: 224 65% 33%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 22% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 210 22% 90%;
    --muted-foreground: 224 71% 24%;
    --accent: 199 91% 60%;
    --accent-foreground: 210 20% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 22% 88%;
    --input: 210 22% 88%;
    --ring: 224 65% 33%;
    --radius: 0.5rem;
    --chart-1: 224 65% 33%;
    --chart-2: 199 91% 60%;
    --chart-3: 224 65% 53%;
    --chart-4: 199 91% 80%;
    --chart-5: 224 65% 73%;
    --sidebar-background: 220 10% 97%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 224 65% 33%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 210 22% 90%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 210 22% 88%;
    --sidebar-ring: 199 91% 60%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 199 91% 60%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 199 91% 60%;
    --chart-1: 210 40% 98%;
    --chart-2: 199 91% 60%;
    --chart-3: 210 40% 78%;
    --chart-4: 199 91% 40%;
    --chart-5: 210 40% 58%;
    --sidebar-background: 222 47% 9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222 47% 9%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 199 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
